@model IFixZoneWeb.Models.Entities.Role
@{
    Layout = "_AdminLayout";
}

<h4>@(Model.RoleId == 0 ? "Thêm vai trò" : "Sửa vai trò")</h4>

<form method="post">

    <input type="hidden" asp-for="RoleId" />

    <div class="mb-2">
        <label>Tên quyền</label>
        <input asp-for="RoleName" class="form-control" />
    </div>

    <button class="btn btn-success">Lưu</button>
    <a asp-action="Index" class="btn btn-secondary">Hủy</a>

</form>
